.panel{
  background-image: -webkit-linear-gradient(right,#0ce7b0,#1362cf);
  background-image: linear-gradient(270deg,#0ce7b0 0,#1362cf);
  color: #fff;
  text-shadow: 1px 2px 3px #5d5d5d;
  padding: 30px 10px;
}
.title-container{
  max-width: 98%;
  margin: 0 auto;
}
.form-content{
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
}
h1{
  font-size: 2em
}
label{
  display: block;
}
label input, label textarea{
  display: block;
  width: 100%;
  margin-bottom: 18px;
  padding: 0.5em;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #a2a2a2;
}
label .error{
  margin-top: -12px;
  font-size: 0.9em;
  margin-bottom: 12px;
  color: #f00;
  width: 100%;
}
.cta{
  background: #0fbeba;
  border: none;
  color: white;
  text-transform: capitalize;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
}
.results{
  margin-top: 30px;
  color: #616060;
}
.results strong{
  display: block;
}
.results span{
  margin-bottom: 20px;
  display: block;
}
h5{
  padding: 7px 20px;
  background: #e6f8e9;
  margin-bottom: 30px;
  color: #8eb795;
  border: 1px solid #8eb795;
  border-radius: 5px;
  font-size: 1em;
}
.center{
  text-align: center;
}
form{
  background: #fff;
  padding: 40px;
  box-shadow: 1px 2px 0px 1px #d5d5d5;
}
@media only screen and (max-width: 680px) {
  .center-mobile{
    text-align: center;
  }
  form{
    padding: 20px;
  }
}