<div class="panel">
  <div class="title-container">
    <h1 class="center-mobile">{{ title }}</h1>
  </div>
  
</div>
<div class="search-bar">
  <div class="md-form">
    <i class="fa fa-search"></i> <input type="search" [(ngModel)]="searchText" placeholder="Search Tutors" />
  </div>
</div>

<div id="productPage" class="list-view">
  
  <ul id="productWrapper" *ngIf="users">
   
    <li class="product-block" *ngFor='let user of users.results | filter: searchText'>
      <div class="pb-upper" 
      attr.data-name="{{ user.name.first }} {{ user.name.last }}"
      attr.data-email="{{ user.email }}"
      attr.data-address="{{ user.location.city }} - {{ user.location.state }}"
      attr.data-avatar="{{ user.picture.large }}"
      >
        <div class="pb-image">
          <a><img [src]="user.picture.medium" border="0" alt="Some great product" class="pb-img"></a>
        </div>
        <div class="pb-description">
          <div class="description">
            <p>{{ user.name.first }} {{ user.name.last }}</p>
            <p class="address">{{ user.email }}</p>
            <p class="location">{{ user.location.city }} - {{ user.location.state }}</p>
           <!--  <div *ngIf="user.gender=='male'; then thenPart; else elsePart">
            </div>
            <ng-template #thenPart>
              <div>&#9794;</div>
            </ng-template>
            <ng-template #elsePart>
              <div>&#9792;</div>
            </ng-template>
 -->
          </div>        
        </div>
      </div>
    </li>
  </ul>
</div>

<!-- popup modal tutors details -->
<div id="my-modal">
  <div class="card">
    <div id="close">X</div>
    <div class="profile-bg center">
      <img src="" id="avatar"> 
    </div> 
    <div class="profile-info">
      <div class="review center"><span>&#9733;</span> 4.9</div>
      <h2 id="name" class="center"></h2>
      <div id="email" class="center"></div>
      <div id="address" class="center"></div>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
      </p>
    </div>
    <div class="profile-footer">
      
      <!-- <a routerLink="/contact" class="btn-send">Contact</a> -->
      <a class="btn-send" id="call-msg">Contact</a>
    </div>
  </div>
</div>

<div id="loading" class="center">
  <div id="bar">
    <div id="fill"></div>
  </div>
  <img [src]="'assets/img/ajax-loader.gif'" class="ico-load">
</div>

<!-- message box -->
<div id="message-box">
  <div id="close-box"><!-- <i>&#8592;</i> -->X</div>
  <div class="message-container">
    <div class="message-title">
      <img src="" id="mini-avatar"><div class="badge" id="badge"></div>
    </div>
    <div id="msg">
    </div>
  </div>
  <div  class="message-footer">   
   <input type="text" name="message" id="message" value="" placeholder="Write a message">
    <input type="submit" value="Send" id="send">
  </div>
</div>


 <!--  <li *ngFor="let user of users.results | filter: searchText">
    <img [src]="user.picture.medium">
    <p>{{ user.name.first }} {{ user.name.last }}</p>
  </li> -->

  <!-- <li *ngFor="let user of users.data | filter: searchText">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li> -->

  <!-- <li *ngFor="let user of users.colleges | filter: searchText">
    
    <p>{{ user.company }} </p>
  </li> -->